<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Blog HTML Boilerplate</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="pageContainer">
        <header>
            <div class="titleContainer">
                <h1>Sartre's List</h1>
                <h6>Better-Dressed People</h6>
            </div>
            <nav>
                <ul aria-label="Main Navigation" role="navigation">
                    <li><a class="mainNavLink" href="#">Women's</a></li>
                    <li><a class="mainNavLink" href="#">Men's</a></li>
                    <li><a class="mainNavLink" href="#">On the Street</a></li>
                    <li><a class="mainNavLink" href="#">The Catwalk</a></li>
                    <li><a class="mainNavLink" href="#">AdWatch</a></li>
                    <li><a class="mainNavLink" href="#">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <article class="postContainer" id="post-11/12/20">
                <p>11/12/20</p>
                <h2 class="title">On the Street in Brooklyn</h2>
                <img src="../../images/brooklyn_street.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsa numquam dolore maiores
                    pariatur deleniti, possimus molestias modi, exercitationem impedit mollitia quibusdam sapiente
                    veritatis fugiat corrupti quod temporibus aperiam voluptatum aut quae sunt? Exercitationem illo
                    accusamus animi ut sunt repellat tempore totam, aliquam facilis minima. Voluptatem velit, accusamus
                    dolorum, quia recusandae corrupti atque aliquam est obcaecati ipsam error odit quidem adipisci nemo
                    fugit culpa repudiandae consequatur aut voluptate quasi ducimus. Natus id praesentium recusandae,
                    animi omnis voluptas, ad pariatur cumque impedit beatae quo delectus ab velit, modi dolore numquam
                    neque?
                </p>
                <div class="alignRight">
                    <a class="continues" href="#">Continues ...</a>
                </div>
                <hr />
            </article>
            <article class="postContainer" id="post-11/11/20">
                <p>11/11/20</p>
                <h2 class="title">Vintage in Vogue</h2>
                <img src="../../images/vintage_in_voyage.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsa numquam dolore maiores
                    pariatur deleniti, possimus molestias modi, exercitationem impedit mollitia quibusdam sapiente
                    veritatis fugiat corrupti quod temporibus aperiam voluptatum aut quae sunt? Exercitationem illo
                    accusamus animi ut sunt repellat tempore totam, aliquam facilis minima. Voluptatem velit, accusamus
                    dolorum, quia recusandae corrupti atque aliquam est obcaecati ipsam error odit quidem adipisci nemo
                    fugit culpa repudiandae consequatur aut voluptate quasi ducimus. Natus id praesentium recusandae,
                    animi omnis voluptas, ad pariatur cumque impedit beatae quo delectus ab velit, modi dolore numquam
                    neque?
                </p>
                <div class="alignRight">
                    <a class="continues" href="#">Continues ...</a>
                </div>
                <hr />
            </article>
        </main>
        <footer>
            <div class="footerContainer">
                <ul aria-label="Footer Navigation" role="navigation">
                    <li><a class="footNavLink" href="#">Women's</a></li>
                    <li><a class="footNavLink" href="#">Men's</a></li>
                    <li><a class="footNavLink" href="#">On the Street</a></li>
                    <li><a class="footNavLink" href="#">The Catwalk</a></li>
                    <li><a class="footNavLink" href="#">AdWatch</a></li>
                    <li><a class="footNavLink" href="#">About</a></li>
                    <li><a class="footNavLink" href="#">Tips</a></li>
                </ul>
                <p class="copyright"> &copy; 2013 Valet Industries, Inc</p>
            </div>
        </footer>
    </div>
</body>

</html>