<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechatopia Image Gallery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Welcome to Mechatopia Gallery</h1>

    <!-- Temp Images -->
    <div class="img-container">
        <img src="https://wallpapercave.com/wp/wp3920851.jpg" class="img-zone" alt="iron-man">
    </div>

    <div class="img-container">
        <img src="https://images.hdqwalls.com/download/cyber-captain-america-marvel-future-fight-v4-1280x720.jpg"
            class="img-zone" alt="captain-america">
    </div>

    <div class="img-container">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fa3%2Fc7%2Ff3%2Fa3c7f335f3f5559bc2c1bcdf94dd55fd.jpg&f=1&nofb=1&ipt=680c274bf33c3559ff07500e8aa8987b5dc083cfb8675fea74f67a9886133799&ipo=images"
            class="img-zone" alt="red-tornado">
    </div>

    <hr>

    <footer>© 2024, Mechatopia LLC. Created by Kevin Zheng</footer>

</body>

</html>